<%- include('inc/banniere.ejs'); -%>
<%- include('inc/menu.ejs'); -%>
            <main>
                <h1>Pour nous contacter</h1>
                <p class="entete"><img src="img/640px-contacts.jpg" alt="" /></p>
                <h3 class="entete">Pour nous laisser un commentaire ou pour obtenir un renseignement complémentaire, remplissez le formulaire ci-dessous :</h3>
            </main>
        </div>
    </body>
</html>