<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>traitement du formulaire</title>
</head>
<body>
    <h1><%= titre %></h1>
    <p> bonjour <%=nom%></p>
    <p>nous avons bien reçu votre message</p>
    <p>votre message : </p>
    <strong> <%= message %></strong>
    <br>
    <p><a href="/">retour à l'accuel</a></p>
    <p><a href="/contact">Envoyer un autre message</a></p>
</body>
</html>